<div id="admin" ng-controller="AdminCtrl">
  <div class="row">
    <div class="offset1 span7">
    <h2> Create Poll </h2>
      <hr />
    </div>
    <div class="offset1 span7">
    <h2> Messages</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="offset1 span2">
      <div class="">
        <form>
        <input ng-model="question.question" type="text" id="pres_name" placeholder="Question" />
        <br />

        <ul>
          <li ng-repeat="answer in question.answers">
            ((answer.aid)). <input type="radio" ng-model="$parent.defaultAnswers" group="answer" value="(( answer.aid ))">
            <input type="text" id="pres_name_((answer.aid))" placeholder="Answer" ng-model="answer.answer"/>
          </li>
          <button ng-click="addBlankAnswer()">Add Answer</button>
        </ul>
        <button ng-click='sendQuestion()'>Create</button>
        </form>
      </div>
    </div>

    <div class="offset2 span3">
      <table class="table">
        <tr ng-repeat="q in questions">
        <td><span ng-click="setCurrentQuestionActive(q.qid)">((q.question))</span></td>
        <td><button ng-click="deleteQuestion(q.qid)">Delete</button></td>
        </tr>
      </table>
    </div>
    <div class="offset1 span7" ng-controller="ChatCtrl">
        <div id="chat-room" style="height: 260px; border: thin dotted darkgray; overflow-y: scroll;">
          <div ng-repeat="m in messageList">
            <span class="offset0 span2">((m.user))</span><span class="offset0  span0">:</span><span class="offset0 span4">((m.message))</span>
          </div>
        </div>
        <br />
        <div>
          <form class="form-inline">
            <input type="text" class="span7" placeholder="Message" ng-model="message">
            <button type="submit" class="btn" ng-click="sendMessage()">Send</button>
          </form>
        </div>
      </ul>
    </div>
  </div>
</div>
