{% extends "base_bootstrap.html" %}

{% block content %}
<div class="" ng-app="presentation" ng-controller='MainCtrl'>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="brand  dropdown-toggle" data-toggle="dropdown" href="#">
                {{roomname}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" target="_self" href="/{{roomname}}">{{roomname}}</a></li>
                <li><a tabindex="-1" target="_self" href="/">home</a></li>
                <li><a tabindex="-1" target="_self" href="/{{roomname}}/hub">Hub</a></li>
              </ul>
            </li>
          </ul>

        <ul class="nav nav-collapse collapse">

          <li ng-show="isLoggedIn">
            <img id="gravatarMenu" ng-src="http://www.gravatar.com/avatar/((currentUser.gravatarHash))">
          </li>
          <li ng-show="isLoggedIn">
            <a href="#"> (( currentUser.email ))</a>
          </li>
          <li ng-show="isLoggedIn" ng-controller="loginCtrl" >
            <a ng-click="logout()">Logout!</a>
          </li>
          <li ng-show="!isLoggedIn">
            <a bs-modal="'/static/partials/login.html'" ng-controller="loginCtrl">Login</a>
          </li>
          <li>
            <a href="/{{roomname}}/app/poll">Poll</a>
          </li>
          <li class="divider"></li>
          <li>
            <a target="_self"  href="/{{roomname}}/">Dashboard</a>
          </li>
          <li>
            <a href="/{{roomname}}/app/room">Room</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="isLoggedIn">
  <div id="ng-view" ng-view></div>
  </div>
</div>
{% end block %}

{% block javascript %}
  <script type="text/javascript">
    console.log("{{roomname}}");
    window["roomName"] = "{{roomname}}";
  </script>
{% end block %}
