{% extends "base_bootstrap.html" %}

{% block content %}
<div class="" ng-app="presentation" ng-controller='MainCtrl'>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/{{roomname}}/">{{roomname}}</a>
        <ul class="nav nav-collapse collapse">
          <li ng-show="isLoggedIn">
            <img id="gravatarMenu" ng-src="http://www.gravatar.com/avatar/((currentUser.gravatarHash))">
          </li>
          <li>
            <a href="#"> (( currentUser.name ))</a>
          </li>
          <li>
            <a bs-modal="'/static/partials/login.html'" ng-controller="loginCtrl">Login</a>
          </li>
          <li>
            <a href="/{{roomname}}/app/poll">Poll</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/{{roomname}}/app/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/{{roomname}}/app/room">Room</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="isLoggedIn">
  <div id="ng-view" ng-view></div>
  </div>
</div>
{% end block %}

{% block javascript %}
  <script type="text/javascript">
    console.log("{{roomname}}");
    window["roomName"] = "{{roomname}}";
  </script>
{% end block %}
