{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <h2>Welcome to "the greater good"! </h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h3>Join a room : </h3>

      <!-- Grid Example -->

      <div class="row presentation">

        {% for room in  rooms %}
          <div class="four columns">
              <p>{{ room['name'] }}</p>
          </div>
          <div class="two columns">
              <p><a href="{{ room["url"] }}">go -> </a></p>
          </div>
          <div class="two columns">
              <p><a href="{{ room["url"] }}/app/">AngJS admin -> </a></p>
          </div>
          <div class="two columns">
              <p><a href="{{ room["url"] }}/admin">for admin only </a></p>
          </div>
          <div class="two columns">
              <p><a href="{{ room["url"] }}/hud">HUD </a></p>
          </div>
        {% end for %}
      </div>

      <div class="result"></div>
      <hr>
    </div>
    <div class="row">
        <div class="seven columns offset-by-five">
            <div class="row">
                <div class="nine columns">
                    <input type="text" class="twelve" id="pres_name" placeholder="room name"/>
                </div>
                <!-- div class="four columns">
                    <input type="password" class="twelve"  id="pres_pass" placeholder="password" />
                </div-->
                <div class="three columns">
                    <p><a href="#" onclick="create_presentation();return false;" class="small button">Create Room</a></p>
                </div>
            </div>

        </div>
<script>
function create_presentation() {
    //alert("clicked")
    if ($('#pres_name').val() != "") {
        var info = { name: $("#pres_name").val(), password: "" /*$("#pres_pass").val()*/ };
        $.post('/', info, function(data) {
          $('.presentation').prepend(data);
        }).fail(function() { alert("error"); });
    }
}
</script>
    </div>


  </div>








  {% end block %}