{% extends "base.html" %}

{% block content %}
<script>

function newMessage() {
    var message = $("#pres_name").val();
    updater.socket.send(JSON.stringify(message));
    //form.find("input[type=text]").val("").select();
}

function update_chat(from, msg) {
    
    $("#inbox").append("<br>");
    $("#inbox").append("<b>user &lt;" + from +"&gt; said : </b>" + msg);
}

function init_film_start(filmID, start) {
    var mainVideo=document.getElementById(filmID); 
    /// seek to ... 
    mainVideo.currentTime = start;
    mainVideo.play();
}

function film_play() {
  var filmID = "main_video";
  var mainVideo=document.getElementById(filmID); 
  mainVideo.play();

}

function film_pause() {
  var filmID = "main_video";
  var mainVideo=document.getElementById(filmID); 
  mainVideo.pause();

}

function update_film(json_msg) { 
  // #media_holder
  var data_title = "<h4>"+ json_msg['title']+"</h4>";
  var data_director = "<p>"+ json_msg['director']+"</p>" ; 
  var data =  "<video id='main_video' controls oncanplay='init_film_start(\"main_video\", "+ json_msg['start'] +");'><source src='" + json_msg['url']+ "' type='video/mp4'></video>"+
        "<p>" + json_msg['description'] + "</p>" ; 
   $("#media_holder").html( data_title + data_director + data );
  console.log (data);
  console.log("updated");


}
function update_image(json_msg) {
    $("#media_holder").html("<img style='height:450px' src='"+ json_msg['url'] +"' />");

}
// function display_poll(json_msg){


// }
var updater = {
    socket: null,

    start: function() {
        var url = "ws://{{ host }}/{{ slug }}/ws";
        if ("WebSocket" in window) {
          updater.socket = new WebSocket(url);
        } else {
            updater.socket = new MozWebSocket(url);
        }
        updater.socket.onmessage = function(event) {
          //updater.showMessage(JSON.parse(event.data));
          updater.showMessage( event.data );
        }
    },

    showMessage: function(message) {
        // this is the HUD so only show chat messages destined for the HUD
        var json_message =  JSON.parse(message)
        console.log(message);
        ///
        // console.log("message of type " + json_message['type'])
        if (json_message['type'] === "chat" && json_message['to'] === "hud" ) {
            update_chat(json_message['username'], json_message['message'])
        }
        if (json_message['type'] === "film"  ) {
            update_film(json_message)
        }
        if (json_message['type'] === "poll" ) {
            display_poll(json_message)
        }
        if (json_message['type'] === "image" ) {
            update_image(json_message)
        }
        if (json_message['type'] === "film_action" && json_message['action'] === "play" ) {
            film_play(json_message)
        }
        if (json_message['type'] === "film_action" && json_message['action'] === "pause" ) {
            film_pause(json_message)
        }
        /// type answer  compilation 

        ///
        // var existing = $("#m" + message.id);
        // if (existing.length > 0) return;
        // var node = $(message.html);
        // node.hide();
        // $("#inbox").append(node);
        // node.slideDown();
    }
};

updater.start();
</script>
  <div class="row">
    <div class="twelve columns">
      <h2>HUD for : {{ presentation['name'] }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="row">
          <div class="seven columns">

            <div id="media_holder"></div>
          </div>
          <div class="five columns" style="background-color:red;">
            <h4>Poll Question : </h4>

          </div>
      </div>
            <hr>

      <div class="row">
        <div class="twelve columns">
          <h3>system messages</h3>
          <div id="inbox">
            
          </div>
        </div>
      </div>




      <!-- Grid Example -->
 
      <div class="row presentation">
        

      </div>

      
    </div>
 


  </div>

  
  

  {% end block %}