{% extends "base.html" %}

{% block content %}
<script>

function newMessage() {
    var message = $("#pres_name").val();
    updater.socket.send(JSON.stringify(message));
    //form.find("input[type=text]").val("").select();
}
function update_chat(from, msg) {
    
    $("#inbox").append("<br>");
    $("#inbox").append("<b>user &lt;" + from +"&gt; said : </b>" + msg);
}
var updater = {
    socket: null,

    start: function() {
        var url = "ws://{{ host }}/{{ slug }}/ws";
        if ("WebSocket" in window) {
          updater.socket = new WebSocket(url);
        } else {
            updater.socket = new MozWebSocket(url);
        }
        updater.socket.onmessage = function(event) {
          //updater.showMessage(JSON.parse(event.data));
          updater.showMessage( event.data );
        }
    },

    showMessage: function(message) {
        console.log(message);
        var json_message =  JSON.parse(message)
        $("#inbox_raw").append("<br>");
        $("#inbox_raw").append(message);
        if (json_message['type'] === "chat" && json_message['to'] !== "hud" ) {
            update_chat(json_message['username'], json_message['message'])
        }
        // var existing = $("#m" + message.id);
        // if (existing.length > 0) return;
        // var node = $(message.html);
        // node.hide();
        // $("#inbox").append(node);
        // node.slideDown();
    }
};

updater.start();
</script>
  <div class="row">
    <div class="twelve columns">
      <h2>Admin - Manual</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">

      <!-- Grid Example -->
 

      <dl class="tabs">
  <dd class="active"><a href="#simple1">Messages</a></dd>
  <dd><a href="#simple2">Raw</a></dd>
  <dd class="hide-for-small"><a href="#simple3">important urls</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="simple1Tab">
    <div id="inbox">
      </div></li>
  <li id="simple2Tab">
    <div id="inbox_raw">
      </div></li>
  <li id="simple3Tab"> 
    <ul>
      <li>>> room : <a href="http://{{ host }}/{{ slug }}"> "http://{{ host }}/{{ slug }}" </a></li>
      <li>>> HUD : <a href="http://{{ host }}/{{ slug }}/hud">"http://{{ host }}/{{ slug }}/hud"</a></li>
      <li>>> websocket : "ws://{{ host }}/{{ slug }}/ws"</li>

    </ul>

  </li>
</ul>
    </div>
    <div class="row">
        <!-- div class="seven columns offset-by-five">
          <form id="test">
            <div class="row">
                <div class="five columns">
                    <input type="text" name="pres_name" class="twelve" id="pres_name" placeholder="Presentation name"/>
                </div>
                <div class="four columns">
                    <input type="password" name="pres_pass" class="twelve"  id="pres_pass" placeholder="password" />
                </div>
                <div class="three columns">
                    <p><a href="#" onclick="newMessage();return false;" class="small button">Create</a></p>
                </div>
            </div>
            </form>
        </div -->
        <div class="seven columns offset-by-five">
          <form id="chat_msg">
            <div class="row">
                <div class="three columns">
                    <input type="text" name="username" class="twelve" id="username" placeholder="Presentation name"/>
                </div>
                <div class="six columns">
                    <input type="text" name="msg" class="twelve"  id="msg" placeholder="your message" />
                </div>
                <div class="three columns">
                    <p><a href="#" onclick="send_chat_message();return false;" class="small button">Send</a></p>
                </div>
            </div>
            </form>
        </div>
        <div class="seven columns offset-by-five">
          <form id="film_send">
            <div class="row">
                <div class="seven columns">
                    <input type="text" name="film_url" class="twelve" id="film_url" placeholder="film url on beta"/>
                </div>
               <div class="two columns">
                    <input type="text" name="start" class="twelve" id="start" placeholder="0" value="0"/>
                </div>
                <div class="three columns">
                    <p><a href="#" onclick="send_films();return false;" class="small button">Send film</a></p>
                </div>
            </div>
            
            </form>
        </div>
        <div class="seven columns offset-by-five">
            <div class="row">
                <div class="three columns">

                    <p><a href="#" onclick="pause_film();return false;" class="small button">Pause film</a></p> 
                    </div>
                <div class="three columns">
                    <p><a href="#" onclick="play_film();return false;" class="small button">Play film</a></p>
                </div>
                
            </div>
        </div>

        <div class="seven columns offset-by-five">
          <form id="img_send">
            <div class="row">
                <div class="nine columns">
                    <input type="text" name="img_url" class="twelve" id="img_url" placeholder="image url"/>
                </div>
           
                <div class="three columns">
                    <p><a href="#" onclick="send_image();return false;" class="small button">Send image</a></p>
                </div>
            </div>
            </form>
        </div>
        <div class="seven columns offset-by-five">
          <form id="hud_chat_msg">
            <div class="row">
                
                <div class="six columns">
                    <input type="text" name="hud_msg" class="twelve"  id="hud_msg" placeholder="your message" />
                </div>
                <div class="three columns">
                    <p><a href="#" onclick="send_hud_chat_message();return false;" class="small button">Send</a></p>
                </div>
            </div>
            </form>
        </div>
        <code>
          <p>send poll button - remember to have a json packet</p>
        {% raw poll %}
      </code>
<script>

function send_chat_message() {
  if ($('#username').val() != "") {
        var info = { type : "chat", username: $("#username").val(), message : $("#msg").val() };
        // updater.socket.send(JSON.stringify(message));
        updater.socket.send(JSON.stringify(info));
    }
    // return false
}
function send_hud_chat_message() {
  if ($('#username').val() != "") {
        var info = { type : "chat", username: $("#username").val(), message : $("#hud_msg").val(), to : "hud" };
        // updater.socket.send(JSON.stringify(message));
        updater.socket.send(JSON.stringify(info));
    }
    // return false
}
function send_films() {
  // {type:"init_film", "film_url" : "http://beta.nfb.ca/film/king_of_the_hill/"}
  // updater.socket.send( JSON.stringify({type:"init_film", "film_url" : "http://beta.nfb.ca/film/king_of_the_hill/"}))
  if ($('#film_url').val() != "") {
        var info =  {type:"init_film", "film_url" : $('#film_url').val() , start : $('#start').val()};
        // { type : "chat", username: $("#username").val(), message : $("#msg").val() };
        // updater.socket.send(JSON.stringify(message));
        updater.socket.send(JSON.stringify(info));
    }

}

function send_image() {
  if ($('#img_url').val() != "") {
        var info =  {type:"image", "url" : $('#img_url').val() };
        // { type : "chat", username: $("#username").val(), message : $("#msg").val() };
        // updater.socket.send(JSON.stringify(message));
        updater.socket.send(JSON.stringify(info));
    }
}

function pause_film() {
        var info =  {type:"film_action", "action" : "pause" };
        updater.socket.send(JSON.stringify(info));
    
}

function play_film() {
        var info =  {type:"film_action", "action" : "play" };
        updater.socket.send(JSON.stringify(info));
    
}

function answer_poll() {} 
function create_presentation() {
    //alert("clicked")
    if ($('#pres_name').val() != "") {
        var info = { name: $("#pres_name").val(), password: $("#pres_pass").val() };
        $.post('/', info, function(data) {
          $('.presentation').prepend(data);
        }).fail(function() { alert("error"); });
    }
}
</script>
    </div>


  </div>

  
  
  
  {% end block %}