<div id="admin" ng-controller="AdminCtrl">
  <div class="row">
    <div class="offset1 span4">
    <h2> Create Poll </h2>
      <hr />
    </div>
  </div>

    <div class="row">
        <div class="offset1 span4">
            <div class="">
              <input ng-model="questions" type="text" id="pres_name" placeholder="Question" />
              <br />
              <ul>
                <li ng-repeat="answer in answers">
                  ((answer.id)). <input type="radio" name="(( anwser.aid ))" group="answer">  <input type="text" id="pres_name_((answer.aid))" placeholder="(( answer.answer ))" value="(( answer.anwser ))" ng-model="answer.answer" />
                </li>
                <button ng-click="addBlankAnswer()">Add Answer</button>
              </ul>
              <button ng-click='sendQuestion()'>Create</button>
            </div>
        </div>
    </div>
</div>
