<div id="admin" ng-controller="AdminCtrl">
  <div class="">
    <div class="twelve columns">
      <h2>Welcome to my mini presentation app</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="span10">
    </div>
    <div class="row">
        <div class="span10">
            <div class="">
                <div class="five columns">
                    <input type="text" class="twelve" id="pres_name" placeholder="Presentation name"/>
                </div>
                <div class="four columns">
                    <input type="password" class="twelve"  id="pres_pass" placeholder="password" />
                </div>
                <div class="three columns">
                    <p><button href="#" onclick="create_presentation();return false;" class="small button">Create</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>